@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Oswald:wght@300;700&family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Global Classes
.row,
.column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

header {
    background: pink;
    padding: 6px 3%;
    color: #fff;
    // margin-bottom: 35px;

    nav {
        p.header-username {
            margin-right: 15px;
        }

        a {
            color: #fff;
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }
}

.quoteSection {
    background: hotpink;
    padding: 6px 3%;
    color: #fff;
    // margin-bottom: 35px;

    nav {
        p.header-username {
            margin-right: 15px;
        }

        a {
            color: #fff;
            text-decoration: none;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }
}

main {
    padding: 0 3%;
}

.landing,
.dashboard {

    h1,
    h3 {
        margin-bottom: 25px;
    }
}

form {
    width: 400px;
    margin: 20px auto 0;

    &.dashboard-form {
        margin-bottom: 25px;

        h2 {
            margin-bottom: 15px;
        }
    }

    p.error-message {
        text-align: center;
        margin-bottom: 10px;
        color: red;
    }

    input,
    button {
        padding: 5px 10px;
        margin-bottom: 5px;
    }

    button {
        border: none;
        padding: 8px 10px;
        font-size: .98rem;
        background: #28224e;
        color: #fff;
    }
}

// 404 Page Styling
.not-found-container {
    background-image: url("../public/assets/images/404optionTwo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found-container h1 {
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}