// TAILWIND
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fortawesome/fontawesome-free/css/all.css';

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

// @import '~bootstrap/scss/bootstrap.scss';
* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
}

#root {
    flex: 1;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Global Classes
.header-one {
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
}

.header-three {
    font-size: 20px;
    padding-bottom: 10px;
}

.sticky-footer {
    min-height: 73.7vh;
}

.row,
.column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.margin-bottom {
    margin-bottom: 20px;
}

// Custom Styling

.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

header {
    font-family: 'Indie Flower', cursive;
    background: rgb(87, 189, 223);
    padding: 6px 3%;
    color: darkblue;
    margin-bottom: 5px;
    height: 75px;

    h1 {
        font-size: 25px;
        font-weight: bolder;
    }

    nav {
        p.header-username {
            margin-right: 15px;
        }

        a {
            color: darkblue;
            text-decoration: none;
            font-weight: bolder;

            &:not(:last-child) {
                margin-right: 20px;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }
}

.quoteSection {
    // background-image: url(../public/assets/images/oceanPhoto.png); // https://unsplash.com/photos/XexawgzYOBc
    background-color: lightblue;
    padding: 6px 5%;
    margin: 0 3%;
    color: darkblue;
    text-align: center;
    margin-bottom: 25px;
}

main {
    padding: 0 3%;
}

.landing {

    h1,
    h3 {

        margin-bottom: 25px;
    }

    .background {
        background-image: url(../public/assets/images/oceanPhoto.png); // https://unsplash.com/photos/XexawgzYOBc
        background-position: center center;
        background-size: cover;
        color: #00003f;
    }
}


// 404 Page Styling
.not-found-container {
    background-image: url("../public/assets/images/404optionTwo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found-container h1 {
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

form {
    width: 400px;
    margin: 20px auto 0;

    &.dashboard-form {
        margin-bottom: 25px;

        h2 {
            margin-bottom: 15px;
        }
    }

    p.error-message {
        text-align: center;
        margin-bottom: 10px;
        color: red;
    }

    input,
    button {
        padding: 5px 10px;
        margin-bottom: 5px;
    }

    button {
        border: none;
        padding: 8px 10px;
        font-size: .98rem;
        background: #28224e;
        color: #fff;
    }
}

#paymentForm,
#authForm {
    background-color: lightblue;
    border-radius: 5px;
    padding: 3%;
}

#paymentButton {
    margin-top: 20px;
}

#authButton {
    margin-top: 5px;
    align-self: center;
    width: 50%;
}

.card {
    columns: 2;
    // grid-auto-rows: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    a {
        text-decoration: none;
        color: black;
    }

    ul {
        flex: 0 1 32%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        outline: 3px solid rgb(87, 189, 223);
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 4px;

        h3 {
            background-color: lightgray;
        }

    }

    ul:hover {
        box-shadow: 0 8px 16px 0 darkblue;
    }
}

.articles {
    margin-bottom: 20px;
}

.header-title-link {
    text-decoration: none;
}

.header-title-link:visited {
    color: inherit;
}